@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Updock&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*     HEADER  */

nav li {
    list-style: none;
    display: inline-block;
    margin: 6px;
    padding: 2px;
    text-align: center;
}

nav {
    background-color: black;
    color: whitesmoke;
}

.whiteBack {
    background-color: whitesmoke;
    color: black;
}

.carousel {
    background-color: lightgrey;
    width: auto;
    height: 12rem;
}

/*  MAIN   */


section h2{
    text-align: center;
    margin: 20px;
}

section article {
    display: inline-block;
}

article {
    border: 1px solid black;
    background-color: lightgray;
    height: 300px;
    width: 30%;
    margin: 10px;
    padding: 1px;
}

.line {
    margin-left: 65px;
    width: 75%;
    border: 1px solid black;
}

form input {
    display: inline-block;
    width: 75%;
    height: 30px;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
    margin-left: 4rem;
}

form textarea {
    width: 75%;
    height: 150px;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
    margin-left: 4rem;
}